# Development requirements

-r prod-requirements.txt

pytest==6.2.5

# To check for python, run in console
# python -m pytest --version

# From terminal
# python3.9 -m venv venv
# ./venv/bin/python -m pip install -r requirements.txt
